<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/home" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/home" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SponsorshipInfo">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Call for Papers</li>
      </ol>      
      <div class="col-md-12">
<h3><span style="color: #b30000;"><b>Call for Papers</b></h3></span>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p>Authors are invited to submit original unpublished work that is not currently under consideration for publication<br>elsewhere via the various tracks hosted by SIGMA 2018.</p>
<ul>
<li><strong><u>Track I: Intelligent Tools and Techniques</u></strong></li>
<li><strong><u>Track II: Applications using Intelligent Techniques in Electrical &amp; Energy Systems</u></strong></li>
<li><strong><u>Track III: Applications using Intelligent Techniques in Electronics &amp; Communication</u></strong></li>
<li><strong><u>Track IV: Applications using Intelligent Techniques in Mechanical and Automation</u></strong></li>
<li><strong><u>Track V: Heath care, Business Intelligence and Big Data Analytics</u></strong></li>
<li><strong><u>Track VI: Applications using Intelligent Techniques in E-Commerce</u></strong></li>
</ul>
<table width="800" border="1" style="font-family: Arial, Verdana, sans-serif; font-size:12px;">
<tbody>
<tr>
<td colspan="3" bgcolor="#75a3a3" width="702">
<p style="text-align: center;"><strong>Track I: Intelligent Tools and Techniques</strong></p>
</td>
</tr>
<tr>
<td width="218">
<ul>
<li> Expert Systems</li>
<li> Machine Learning</li>
<li> Artificial Neural Networks</li>
<li> Fuzzy Logic and its Techniques &amp; Systems</li>
<li> Knowledge-Based Systems</li>
<li> Genetic Algorithms</li>
<li> Genetic Programming</li>
<li> Evolutionary Computing</li>
<li> Data Mining</li>
<li> Deep Learning Technology</li>
<li> Hybrid Intelligent Systems</li>
<li> Internet Computer Vision</li>
<li> Intelligent Control Systems</li>
<li> Intelligent Mechatronic</li>
<li> Artificial Life</li>
<li> Compressive Sensing</li>
<li> Rough Sets</li>
</ul>
</td>
<td width="229">
<ul>
<li> Extreme Learning Machine</li>
<li> Support Vector Machine</li>
<li> Gene Expression Programming</li>
<li> Cognitive Modelling</li>
<li> Smart Grid Communications</li>
<li> Distributed Intelligence</li>
<li> Intelligent Manufacturing Systems</li>
<li> Cloud Robotics</li>
<li> Intelligent Agents and Multi-Agent Systems</li>
<li> Intelligent Communication Systems</li>
<li> Intelligent Signal Processing</li>
<li> Smart Sensor Networks</li>
<li> Cryptography</li>
<li> Spatial &amp; Temporal Reasoning</li>
<li> Intelligent Web Mining &amp; Applications</li>
<li> Intelligent Micro-Grid</li>
<li> Wavelets</li>
</ul>
</td>
<td width="251">
<ul>
<li> Bioinformatics using Intelligent Techniques</li>
<li> Semantic Media Processing</li>
<li> Intelligent E-business and E-learning</li>
<li> Information Agents on the Internet</li>
<li> Sensing, Clustering and Classification</li>
<li> Biologically Inspired Computation</li>
<li> Social Recommender Systems</li>
<li> Information Forensics and Security</li>
<li> Paraphrasing</li>
<li> Knowledge Discovery</li>
<li> Agents and Multi-Agent Systems</li>
<li> Causal Discovery and Inference</li>
<li> Intelligent Semiconductor Devices and Circuits</li>
<li> Optimization Techniques</li>
<li> Intelligent Information Retrieval</li>
<li> Intelligent Network Protocols</li>
<li> Knowledge Management</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table width="800" border="1" style="font-family: Arial, Verdana, sans-serif; font-size:12px;">
<tbody>
<tr>
<td colspan="3" bgcolor="#75a3a3" width="702">
<p style="text-align: center;"><strong>Track II: Applications using Intelligent Techniques in Electrical &amp; Energy Systems</strong></p>
</td>
</tr>
<tr>
<td width="218">
<ul>
<li> Renewable Sources of Power Generation</li>
<li> Energy Harvesting</li>
<li> Power System Deregulation</li>
<li> Energy Markets, Modeling</li>
<li> Simulation and Emulation of Large Power Systems</li>
<li> Smart Grids and Cyber Security</li>
<li> Power Electronics and Drives</li>
<li> Power Automation</li>
<li> Condition Monitoring and Fault Diagnosis</li>
<li> Wide Area Monitoring &amp; Control</li>
<li> Electrical Machine &amp; Industrial Drives</li>
</ul>
</td>
<td width="229">
<ul>
<li> Demand Side Management</li>
<li> Power System Instrumentation and Control</li>
<li> Power System Communication</li>
<li> Energy Efficiency</li>
<li> Wind &amp; Solar Forecasting</li>
<li> Energy Economics</li>
<li> Power System Protection</li>
<li> Utilization of Electrical Energy</li>
<li> Power Apparatus Designing and Testing</li>
<li> &nbsp;Distribution Systems</li>
<li> &nbsp;Power Quality, HVDC and FACTS</li>
<li> &nbsp;Power Devices, Packaging and EMI</li>
</ul>
</td>
<td width="251">
<ul>
<li> Diagnostic Systems</li>
<li> Industrial Control and Monitoring</li>
<li> High Voltage Engineering</li>
<li> Electrical &amp; Electronics Measurement</li>
<li> Transducers and Signal Conditioning</li>
<li> Computer Application in Power System</li>
<li> Biological Instrumentation</li>
<li> Energy Auditing</li>
<li> Process Modeling and Control</li>
<li> Reliability Engineering</li>
<li> Converter Topologies &amp; Control</li>
<li> Electric Vehicle and Automations</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table width="800" border="1" style="font-family: Arial, Verdana, sans-serif; font-size:12px;">
<tbody>
<tr>
<td colspan="3" bgcolor="#75a3a3" width="702">
<p style="text-align: center;"><strong>Track III: Applications using Intelligent Techniques in Electronics</strong><strong> and Communication</strong></p>
</td>
</tr>
<tr>
<td width="218">
<ul>
<li> Wireless communication</li>
<li> Signal, Speech and Image Processing</li>
<li> VLSI</li>
<li> Design Testing</li>
<li> Fault tolerance systems</li>
<li> Modeling and Simulation</li>
<li> Microsystems and applications</li>
<li> Microprocessor and Microcontroller</li>
<li> Micro and Nano electronics</li>
</ul>
</td>
<td width="229">
<ul>
<li> Computer Vision</li>
<li> RF and Microwave</li>
<li> Robotics</li>
<li> Antenna</li>
<li> Laser Techniques</li>
<li> Quantum Computing</li>
<li> Communication Protocols</li>
<li> Cognitive Radio</li>
<li> GPS and Remote Sensing</li>
</ul>
</td>
<td width="251">
<ul>
<li> Big data analysis through signal processing</li>
<li> Information Forensic and Security</li>
<li> Sensors Network</li>
<li> Signal Detection and Parameter Estimation</li>
<li> Embedded Systems</li>
<li> Low and high frequency circuits</li>
<li> Mobile and Satellite Communication</li>
<li> Adhoc Networking</li>
<li> Faults analysis and its Diagnosis</li>
<ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table width="800" border="1" style="font-family: Arial, Verdana, sans-serif; font-size:12px;">
<tbody>
<tr>
<td colspan="3" bgcolor="#75a3a3" width="702">
<p style="text-align: center;"><strong>Track IV: </strong><strong>Applications using Intelligent Techniques in Mechanical and Automation</strong></p>
</td>
</tr>
<tr>
<td width="218">
<ul>
<li> Vibration &amp; Control</li>
<li> Thermal Engineering</li>
<li> Heat transfer</li>
<li> Sustainable Energy</li>
<li> Industrial Engineering</li>
<li> Tribology</li>
<li> Advanced Manufacturing</li>
</ul>
</td>
<td width="229">
<ul>
<li> Safety Reliability &amp; Risk Management</li>
<li> Mechatronics &amp; MEMS</li>
<li> Composite Materials</li>
<li> Green Manufacturing</li>
<li> Rapid Prototype, I. C. Engines</li>
<li> CAD/CAM/CIM</li>
<li> Product Development &amp; Strategies</li>
</ul>
</td>
<td width="251">
<ul>
<li> Fluid engineering systems</li>
<li> Automotive Technology</li>
<li> Machine Design &amp; Dynamics</li>
<li> Nano Technology</li>
<li> Robotics</li>
<li> Fracture Mechanics</li>
<li> Condition Monitoring and Fault Diagnosis</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table width="800" border="1" style="font-family: Arial, Verdana, sans-serif; font-size:12px;">
<tbody>
<tr>
<td colspan="3" bgcolor="#75a3a3" width="702">
<p style="text-align: center;"><strong>Tra</strong><strong>ck V: Heath care, Business Intelligence and Big Data Analytics</strong></p>
</td>
</tr>
<tr>
<td width="220">
<ul>
<li> Data and analytics</li>
<li> Managed value and risk analytics</li>
<li> Pharmacy care services</li>
<li> Population health management</li>
<li> Behavior health solution</li>
<li> Care and clinical management</li>
<li> Advocacy support services</li>
<li> Prevention and well-being</li>
<li> Financial services</li>
<li> Health care operations</li>
<li> Intelligent EDI</li>
<li> Social Media Analytics</li>
<li> Terrorism Informatics</li>
<li> Business Process as a Service</li>
<li> Claims Edit System (CES)</li>
<li> Physician Advisory Services</li>
<li> IT as a Service</li>
<li> Nutritional Health</li>
<li> Claims Manager</li>
<li> Big Data Intelligence Analysis</li>
<li> Big Data Quality and Management</li>
</ul>
</td>
<td width="230">
<ul>
<li> Crowd-Sourcing Systems</li>
<li> Customer Segmentation or Profiling</li>
<li> Design Strategies for Big Data Analytics</li>
<li> Economic Issues of Big Data Analytics</li>
<li> Healthcare Decision Support</li>
<li> Open-Source Intelligence</li>
<li> Design Strategies for Big Data Analytics</li>
<li> Economic Issues of Big Data Analytics</li>
<li> Healthcare Decision Support</li>
<li> Open-Source Intelligence</li>
<li> Large-Scale Recommendation Systems</li>
<li> Opinion Mining and Sentiment Analysis</li>
<li> Search Engine Marketing and Optimization</li>
<li> Web Mining and Analytics for Web 2.0</li>
<li> Smart Nutrition</li>
<li> Active Learning and Imbalanced Data Handling</li>
<li> Advanced Communications Engine</li>
<li> Big Data Knowledge Indexing and Classification</li>
</ul>
</td>
<td width="249">
<ul>
<li> Business Analysis for Mobile and Cloud Applications</li>
<li> Business Intelligence Applications for Finance</li>
<li> Business Process Mining and Intelligence</li>
<li> Security, Privacy and Legal Issues Specific to Big Data</li>
<li> Software and Tools for Big Data Management</li>
<li> Visual Interface and HCI for Business Intelligence</li>
<li> Big Data Economy, QoS and Business Models</li>
<li> Provider Data and Network Management Solutions</li>
<li> Optum360 revenue cycle management</li>
<li> Prospective Payment System (PPS)</li>
<li> Integrated Risk and Quality Solutions</li>
<li> Hospital Information System</li>
<li> Utility-Based Data Mining</li>
<li> Clinical Nutrition</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table width="800" border="1" style="font-family: Arial, Verdana, sans-serif; font-size:12px;">
<tbody>
<tr>
<td colspan="3" bgcolor="#75a3a3" width="702">
<p style="text-align: center;"><strong>Tra</strong><strong>ck VI: Applications using Intelligent Techniques in E-Commerce</strong></p>
</td>
</tr>
<tr>
<td width="220">
<ul>
<li> Health Informatics</li>
<li> E- Banking</li>
<li> Online Healthcare System</li>
<li> E-Commerce Customer Behaviour Analysis &amp; Prediction</li>
<li> M-Commerce</li>
<li> Digital Content Design</li>
<li> Food Business In E-Commerce</li>
<li> Smart Tourism and Smart Logistics</li>
<li> Economics of E-Commerce</li>
<li> Learning Behaviour Analysis</li>
</ul>
</td>
<td width="230">
<ul>
<li> E-Learning</li>
<li> Fraud And Misuse Detection</li>
<li> Sales Forecasting</li>
<li> Knowledge Management</li>
<li> Case Study of E-Service Applications Practices</li>
<li> Smart and Wearable Technologies</li>
<li> Organic Media For Connected World</li>
<li> Mobile Payments</li>
<li> Social Commerce</li>
<li> Personalization and Recommendation System</li>
</ul>
</td>
<td width="249">
<ul>
<li> Business Model For E-Service Applications</li>
<li> Cybersecurity</li>
<li> Human Computer Interactions</li>
<li> Big Data and Machine Learning in E-Commerce</li>
<li> Data Mining</li>
<li> Social Media And Digital Marketing</li>
<li> Smart Health &amp; Hospitals</li>
<li> Customer Churn</li>
</ul>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>