<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SponsorshipInfo">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
	<ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Committee</li>
      </ol> 
      <div class="col-md-12">
	  <ol class="breadcrumb">
		<ul class="nav nav-pills">
		  <li class="active"><a data-toggle="pill" href="#orgcomm"><b>Organizing Committee</b></a></li>
		  <li><a data-toggle="pill" href="#advcomm"><b>Advisory Committee</b></a></li>
		  <li><a data-toggle="pill" href="#techcomm"><b>Technical Programme Committee</b></a></li>
		</ul>
<div class="tab-content">
<div id="orgcomm" class="tab-pane fade in active">
<h4><span style="color: #000080;"><b>Chief Patron</b></span></h4>
<p><strong>J.P. Saini</strong>, <em>Director NSIT, India</em></p>
<h4><span style="color: #000080;"><b>Patrons</span></b></h4>
<p><strong>Sukumar Mishra</strong>, <em>Prof.,Indian Institute of Technology Delhi, India</em></p>
<p><strong>A.P. Mittal</strong>, <em>Member Secretary, AICTE, India</em></p>
<h4><span style="color: #000080;"><b>General Chair</span></b></h4>
<p><strong>Smriti Srivastava</strong>, <em>HOD ICE Division, NSIT</em></p>
<h4><span style="color: #000080;"><b>General Co-Chairs</span></b></h4>
<p><strong>Y.R. Sood</strong>, <em>Director NIT Pondicherry, India</em></p>
<p><strong>Hasmat Malik</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Technical Program Chair/Co-Chair(s)</span></b></h4>
<p><strong>D.K. Upadhyay</strong>, <em>NSIT</em></p>
<p><strong>Vineet Kumar</strong>, <em>NSIT</em></p>
<p><strong>Rajneesh Sharma</strong>, <em>NSIT</em></p>
<p><strong>Bhavnesh Kumar</strong>, <em>NSIT</em></p>
<p><strong>R.C.Thakur</strong>, <em>NSIT</em></p>
<p><strong>Pragya Varshney</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Organizing Chair(s)</span></b></h4>
<p><strong>J.R.P. Gupta</strong>, <em>NSIT</em></p>
<p><strong>K.P.S. Rana</strong>, <em>NSIT</em></p>
<p><strong>Vijander Singh</strong>, <em>NSIT</em></p>
<p><strong>Prerna Gaur</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Sponsorship Chair(s)</span></b></h4>
<p><strong>M.P.S. Bhatia</strong>, NSIT</p>
<p><strong>J.Jena</strong>, <em>NSIT</em></p>
<p><strong>&nbsp;Jyotsana Singh</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Exhibition Chair(s)</span></b></h4>
<p><strong>Asha Rani</strong>, <em>NSIT</em></p>
<p><strong>Piyush Saxsena</strong>, NSIT</p>
<p><strong>A.K. Yadav</strong>, <em>NIT Sikkim</em></p>
<p><strong>Akanksha Kulshreshtha</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Tutorial Chair(s)</span></b></h4>
<p><strong>Pragya Varshney</strong>, <em>NSIT</em></p>
<p><strong>Soumya Sasmal</strong>, <em>NSIT</em></p>
<p><strong>A.K. Verma</strong>, <em>MNIT Jaipur</em></p>
<h4><span style="color: #000080;"><b>Registration/Hospitality &amp; Local Arrangement Chair(s)</span></b></h4>
<p><strong>S.K. Jha</strong>, <em>NSIT</em></p>
<p><strong>R.C. Thakur</strong>, <em>NSIT</em></p>
<p><strong>A.N. Jha</strong>, <em>NSIT</em></p>
<p><strong>Vicky Suri</strong>, <em>NSIT</em></p>
<p><strong>Jyoti Yadav</strong>, <em>NSIT</em></p>
<p><strong>Maneesha Singh</strong><em>NSIT</em></p>
<p><strong>Umang Soni</strong>, <em>NSIT</em></p>
<p><strong>P.K. Bajpai</strong>, <em>NSIT</em></p>
<p><strong>Aditya Kumar Rathi</strong>, <em>NSIT</em></p>
<p><strong>Pankaj Deshwal</strong>, <em>NSIT</em></p>
<p><strong>Deepak Sharma</strong>, <em>NSIT</em></p>
<p><strong>Kunwar Singh</strong>, <em>NSIT</em></p>
<p><strong>Ankur Bansal</strong>, <em>NSIT</em></p>
<p><strong>Saumya Sasmal</strong>, <em>NSIT</em></p>
<p><strong>Akanksha Kulshreshtha</strong>, <em>NSIT</em></p>
<p><strong>Ikhlaque Hussain</strong>, <em>KU</em></p>
<p><strong>Abhishek Tevatia</strong>, <em>NSIT</em></p>
<p><strong>Duru Arun Kumar</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Web Chair(s)</span></b></h4>
<p><strong>Khushil Saini</strong>, <em>NSIT</em></p>
<p><strong>D.Swaroop</strong>, <em>NSIT</em></p>
<p><strong>Abhishek Faujdar</strong>, <em>NSIT</em></p>
<p><strong>Devinder Kumar</strong>, <em>NSIT</em></p>
<p><strong>Neeraj Aggarwal</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Publicity Chair(s)</span></b></h4>
<p><strong>Tarun Kumar Rawat</strong>, <em>NSIT</em></p>
<p><strong>Vikash Maheshkar</strong>, <em>NSIT</em></p>
<p><strong>Priti Bansal</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Publication Chair(s)</span></b></h4>
<p><strong>Smriti Srivastava</strong>, <em>NSIT</em></p>
<p><strong>Y.R.Sood</strong>, <em>NIT Pondicherry</em></p>
<p><strong>Rajneesh Sharma</strong>, <em>NSIT</em></p>
<p><strong>Hasmat Malik</strong>, <em>NSIT</em></p>
<h4><span style="color: #000080;"><b>Research Scholar Committee</span></b></h4>
<table>
<tbody>
<tr>
<td width="319">
<p><strong><em><u><span style="color: #000080;"><b>Ph.D Scholars</span></b></u></em></strong></p>
<p>Abhishek Kumar</p>
<p>Amit Kukkar</p>
<p>Anuli Dass</p>
<p>Divya Goyal</p>
<p>Himanshu Chhabra</p>
<p>Jitendra Kumar</p>
<p>Mohit Jain</p>
<p>Nandan Kumar Navin</p>
<p>Navdeep</p>
<p>Nikhil Singhal</p>
<p>Nikhilesh P. Kumar</p>
<p>Parul Arora</p>
<p>Priyanka Singh</p>
<p>Rohit Rana</p>
<p>Sachin Sharma</p>
<p>Sangeeta Gupta</p>
<p>Sonal Goyal</p>
<p>Srishti</p>
<p>Surbhi Chandra</p>
<p>Vijay Mohan</p>
<p>Yagyadatta Goswami</p>
</td>
<td width="319">
<p><strong><em><u><span style="color: #000080;"><b>M.Tech/B.E Students</span></b></u></em></strong></p>
<p>Aakash Parashar</p>
<p>Akash Kumar Singh</p>
<p>Deepti Chack</p>
<p>Harshit Jain</p>
<p>Jayanti Singh</p>
<p>Manisha Singh</p>
<p>MD. Gholam Wahid Reza</p>
<p>Natasha Singh</p>
<p>Nilanjan Roy</p>
<p>Oshin Prem</p>
<p>Paras Kausal</p>
<p>Rajat Vats</p>
<p>Ratnesh Kumar</p>
<p>Sanskriti Bhardwaj</p>
<p>Shreya Jain</p>
<p>Siddharth Garg</p>
<p>Sruti Paluri</p>
<p>Trishla Goyal</p>
<p>Tushar Sharma</p>
<p>Urwashi</p>
<p>Vinoop P.</p>
</td>
</tr>
</tbody>
</table>
</div>
<div id="advcomm" class="tab-pane fade">
<h4><span style="color: #000080;"><b>Advisory Committee</span></b></h4>
<p><strong>R.C. Bansal, University of Pretoria, South Africa</strong></p>
<p><strong>Hemanshu Roy Pota</strong>, <em>UNSW, Australia</em></p>
<p><strong>Abraham Ajith, </strong><em>MIR Lab, USA</em></p>
<p><strong>A.Q. Ansari, </strong><em>JMI Delhi, India</em></p>
<p><strong>D.P. Kothari, </strong><em>SBJITMR, India</em></p>
<p><strong>I.K. Bhat, MNIT, </strong><em>Allahabad, India</em></p>
<p><strong>A.N. Jha, </strong><em>Ex-IIT Delhi, India</em></p>
<p><strong>Ahmed Hamza H. Ali, </strong><em>Egypt</em></p>
<p><strong>Raj Senani, </strong><em>NSIT, India</em></p>
<p><strong>R.K. Niazi, </strong><em>MNIT Jaipur, India</em></p>
<p><strong>Majid Jamil, </strong><em>JMI, Delhi, India</em></p>
<p><strong>F.H. Farzana, </strong><em>VNMKV, India</em></p>
<p><strong>S Balasundaram, </strong><em>JNU, India</em></p>
<p><strong>B.K.Panigrahi, </strong><em>IITD, India</em></p>
<p><strong>S.S.Chandel, </strong><em>NIT Hamirpur, India</em></p>
<p><strong>Atif Iqbal, </strong><em>Qatar University</em></p>
<p><strong>Aamir Ahmad, </strong><em>Max Planck Institute for Intelligent Systems,</em><em> Germany</em></p>
<p><strong>Anand Parey, </strong><em>IIT Indore, India</em></p>
<p><strong>Mirajud-din Mufti, </strong><em>NIT S, India</em></p>
<p><strong>Narendar Kumar, </strong><em>DTU, India</em></p>
<p><strong>R.K. Pachoury, </strong><em>IIT Indore, India</em></p>
<p><strong>Saif K. Mohammad, </strong><em>IIT Delhi, India</em></p>
<p><strong>V. Hote, </strong><em>IIT Roorkee, India</em></p>
<p><strong>Rafi Ahmed, </strong><em>IIT Guwahati, India</em></p>
<p><strong>M.Rizwan, </strong><em>DTU, India</em></p>
<p><strong>Satish Chand, </strong><em>JNU, India</em></p>
<p><strong>A.K. Chandel</strong> <em>NIT, Hamirpur</em></p>
<p><strong>Ikbal Ali, </strong><em>JMI, India</em></p>
<p><strong>Madhusudan Singh, </strong><em>DTU,India</em></p>
<p><strong>Omar Farooq, </strong><em>AMU, India</em></p>
<p><strong>Sangeeta Sabharwal, </strong><em>NSIT India</em></p>
<p><strong>Neeta Pandey, </strong><em>DTU, India</em></p>
<p><strong>Zakir Husain, </strong><em>NIT Hamirpur, India</em></p>
<p><strong>Jagdish Chand Bansal, </strong><em>SAU</em></p>
<p><strong>Sumantra Dutta Roy, </strong><em>IIT Delhi</em></p>
<p><strong>Santosh Rathor, </strong><em>ICAR, India</em></p>
<p><strong>P.M. Pathak, </strong><em>IIT Roorkee</em></p>
<p><strong>Ashwani Kumar, </strong><em>NIT Kurukshetra, India</em></p>
<p><strong>S.Balasundaram, </strong><em>JNU, India</em></p>
<p><strong>Imtiaz Ashraf, </strong><em>AMU, India</em></p>
<p><strong>Mohammad Faizan, </strong><em>AMU, India</em></p>
<p><strong>Y.K. Chauhan, </strong><em>GBU, India</em></p>
<p><strong>M.A Ansari,</strong><em>GBU Noida, India</em></p>
<p><strong>Surender Reddy Salkuti, </strong><em>South Korea</em></p>
<p><strong>S.P. Singh, </strong><em>NSIT, India</em></p>
<p><strong>Dhananjay V. Gadre</strong><em>NSIT, India</em></p>
<p><strong> Hasan, </strong><em>AMU, India</em></p>
<p><strong>Zeheeruddin, </strong><em>JMI, Delhi, India</em></p>
<p><strong>N.Fatema, </strong><em>IIHMR, India</em></p>
<p><strong>Bharat Bhushan, </strong><em>DTU, India</em></p>
<p><strong>Ekram Khan, </strong><em>AMU, India</em></p>
<p><strong>Saurabh Bhardwaj, </strong><em>Thapar University</em><em>, India</em></p>
<p><strong>Meena Tushir, </strong><em>MSIT, India</em></p>
<p><strong>Monika Gupta, </strong><em>MAIT, India</em></p>
<p><strong>Surekha Kamath, </strong><em>MIT, India</em></p>
<p><strong>Nishchal Verma, </strong><em>IIT Kanpur, India</em></p>
<p><strong>Poonam Bansal, </strong><em>MSIT, India</em></p>
<p><strong>Rachna Garg, </strong><em>DTU, India</em></p>
<p><strong>Shahida Khatoon, </strong><em>JMI, India</em></p>
<p><strong>Subhi Purnear, </strong><em>MNIT Allahbad</em><em>, India</em></p>
<p><strong>Ashok Mittal, </strong><em>GBP, Delhi, India</em></p>
<p><strong>Ibrahim, </strong><em>JMI, India</em></p>
<p><strong>Madhusudhan Singh, </strong><em>L&amp;T Info., India</em></p>
<p><strong>Manu Sharma, </strong><em>UIET, Chandigarh</em><em>, India</em></p>
<p><strong>Akshay Rathore, </strong><em>Mauntrial University, Canada</em></p>
<p><strong>Satya P. Singh, </strong><em>IIT Roorkee, India</em></p>
<p><strong>Dinesh Chandra, </strong><em>MNNIT Allahabad, India</em></p>
<p><strong>Asheesh K. Singh, </strong><em>MNNIT Allahabad, India</em></p>
<p><strong>Rajendra Prasad Payasi, </strong><em>KNIT, Sultanpur (U.P.), India</em></p>
<p><strong>Vivek Shrivastava</strong>, <em>RTU, Kota, India</em></p>
<p><strong>Tarikul Islam</strong>, JMI, Delhi</p>
<p><strong>Zainul Abdin Jaffer</strong><strong>y</strong>, JMI, Delhi</p>
<p><strong>Tariq Masood</strong>, Dukhan Industrial City Qatar</p>
<p><strong>P.Deniel, </strong><em>NIT Hamirpur</em></p>
<p><strong>S.Mohan, </strong><em>IIT Indore</em></p>
<p><strong>R.K. Jarial, </strong><em>NIT, Hamirpur, India</em></p>
<p><strong>O.P. Rahi, </strong><em>NIT, Hamirpur</em></p>
<p><strong>Malti Bansal </strong><em>DTU, Delhi</em></p>
<p><strong>Bharat Bhushan Sharma, </strong><em>NIT Hamirpur</em></p>
</div>
<div id="techcomm" class="tab-pane fade">
<h4><span style="color: #000080;"><b>TPC Members</span></b></h4>
<p><strong>Abdul Azeem, </strong><em>MBU Solan</em></p>
<p><strong>Abrar Ahmad, </strong><em>JMI, Delhi</em></p>
<p><strong>Ajay Kataria, </strong><em>NSIT Delhi</em></p>
<p><strong>Akhilesh Dubey, </strong><em>NSIT Delhi</em></p>
<p><strong>Akhilesh Singh, SIT, </strong><em>Pithoragarh, Utrakhand</em></p>
<p><strong>Anand Gupta, </strong><em>NSIT Delhi</em></p>
<p><strong>Anil Kumar Gautam, </strong><em>GBU, Noida</em></p>
<p><strong>Anil Kumar, </strong><em>MANIT, Bhopal</em></p>
<p><strong>Ankita Bansal, </strong><em>NSIT Delhi</em></p>
<p><strong>Anshul Agarwal, </strong><em>NIT, Delhi</em></p>
<p><strong>Ansul Sharma, </strong><em>NIT Uttrakhand</em></p>
<p><strong>Anuradha Tomar, </strong><em>HMR Delhi</em></p>
<p><strong>Anurag Singh Baghel, </strong><em>GBU, Noida</em></p>
<p><strong>Arunesh Kumar Singh, </strong><em>JMI, Delhi</em></p>
<p><strong>Arup Sankar Bhaumik, </strong><em>GND, Delhi</em></p>
<p><strong>Asfaq Haroon, </strong><em>JMI, Delhi</em></p>
<p><strong>Awadesh Kumar, </strong><em>MMM University</em></p>
<p><strong>Barun Bajaj, </strong><em>IIITDM Jabalpur</em></p>
<p><strong>Bhanu Pratap, </strong><em>NIT Kurukshetra</em></p>
<p><strong>Bhanu Pratap, </strong><em>NIT Kurukshetra</em></p>
<p><strong>Chandan Sharma, </strong><em>Govt. Engg. College, Ajmer</em></p>
<p><strong>Chandra Shekhar, </strong><em>NIT Warangal</em></p>
<p><strong>Chilaka Ranga, </strong><em>NIT Hamirpur</em></p>
<p><strong>D.K. Vishwakarma, </strong><em>NSIT Delhi</em></p>
<p><strong>Deepak Kapila, </strong><em>Navaid Enterprises, India</em></p>
<p><strong>Dheeraj Palwalia, </strong><em>RTU, Kota, Rajasthan</em></p>
<p><strong>Dinesh K. Vishwakarma, </strong><em>DTU, India</em></p>
<p><strong>Dinesh Kumar, </strong><em>GGSIPU Delhi</em></p>
<p><strong>Faisal Hasan, </strong><em>AMU, India</em></p>
<p><strong>Gopal</strong>, <em>BVCE Delhi</em></p>
<p><strong>HM Kushwah, </strong><em>IIT Bombay</em></p>
<p><strong>Kapil Gandhi, </strong><em>KIET Ghaziabad</em></p>
<p><strong>Kuldeep Panwar, </strong><em>HMR, Delhi</em></p>
<p><strong>M S Choudhry, </strong><em>DTU, India</em></p>
<p><strong> Aggarwal, </strong><em>IIT Bombay</em></p>
<p><strong> Sandeep, </strong><em>NTU Singapore</em></p>
<p><strong> Singh, </strong><em>CPRI, Bangalore</em></p>
<p><strong> Zunaid, </strong><em>AMU, India</em></p>
<p><strong>M.Saad Bin Arif, </strong><em>AMU, India</em></p>
<p><strong>Madhusudhan Singh, </strong><em>NI T, Nagaland</em></p>
<p><strong>Maneesh Jai, </strong>DTU, Delhi</p>
<p><strong>Manoj Lonkar, </strong><em>CG, Mumbai</em></p>
<p><strong>Manoj Tripathy, </strong><em>IIT Roorkee</em></p>
<p><strong>Mohammad Ali, </strong><em>AMU, India</em></p>
<p><strong>Naveen Sharma, </strong><em>PEC, India</em></p>
<p><strong>Navneet Kumar Singh, </strong><em>MNNIT Allahabad</em></p>
<p><strong>Neha Beniwal, </strong><em>NTU Singapore</em></p>
<p><strong>Nikhil Kushwah, </strong><em>Pusa Delhi</em></p>
<p><strong>Nitin Sharm, </strong><em>NIT Hamirpur</em></p>
<p><strong>Nitin Singh, </strong><em>MNNIT Allahabad</em></p>
<p><strong>Nitisha Srivastava</strong>, <em>IPEC Ghaziabad</em></p>
<p><strong>Padmanabh Thakur, </strong><em>Graphic Era University, Dehradun</em></p>
<p><strong>Piyush Pratap Singh, </strong><em>NIT, Silchar</em></p>
<p><strong>Pradeep Kumar Bhatt, </strong><em>SIT, Pithoragarh, Utrakhand</em></p>
<p><strong>Pradeep, </strong><em>NIT Kurukshetra</em></p>
<p><strong>Prateek Singhal, </strong><em>S.K.I.T. College Of Engineering, Jaipur</em></p>
<p><strong>Preeti Kaur, </strong><em>NSIT Delhi</em></p>
<p><strong>Rabindra Nath Shaw, </strong><em>Galgotias University, India</em></p>
<p><strong>Rahul Dubey</strong>, <em>ABB</em></p>
<p><strong>Rajan Sonkar, </strong><em>Sukam&nbsp; Delhi</em></p>
<p><strong>Rajeev Kumar, </strong><em>NSIT Delhi</em></p>
<p><strong>Rajeev Rai, </strong><em>NIT, Delhi</em></p>
<p><strong>Rajesh Kumar</strong>, <em>BVCE Delhi</em></p>
<p><strong>Rajesh Sharma, </strong><em>IPU Delhi</em></p>
<p><strong>Rajveer Singh, </strong><em>JMI, Delhi</em></p>
<p><strong>Rambir Singh, </strong><em>IPEC, Ghaziabad</em></p>
<p><strong>Ranchan Chauhan, </strong><em>Shoolini University</em></p>
<p><strong>Rashid Ali, </strong><em>AMU, India</em></p>
<p><strong>Ritu Sibal, </strong><em>NSIT Delhi</em></p>
<p><strong>Rohan Samkaria</strong><em>, S.M.D.R.S.D. College pathankot GNDU</em></p>
<p><strong> Jhavar, </strong><em>Oklahoma State University</em></p>
<p><strong>Sabha Raj Arya, </strong>SV<em>NIT, Gujrat </em></p>
<p><strong>Safia Akhtar Kazmi, </strong><em>AMU, India</em></p>
<p><strong>Sandesh S. Chougule, </strong><em>LNMIIT Jaipur</em></p>
<p><strong>Sanjay Aggarwal, </strong><em>IGNOU Delhii</em></p>
<p><strong>Sanjay Aggarwal, </strong><em>RKGIT Ghaziabad</em></p>
<p><strong>Sanjeev Kumar, </strong><em>Amity, Delhi</em></p>
<p><strong>Sanjeev Kumar, </strong><em>IIT Patna</em></p>
<p><strong>Santosh kumar, </strong><em>Amity Delhi</em></p>
<p><strong>Savita Singh,</strong><em> NIEC Delhi</em></p>
<p><strong>Savita Yadav, </strong><em>NSIT Delhi</em></p>
<p><strong>Shaikh Affijullah, </strong><em>NIT, Meghalya</em></p>
<p><strong>Shailesh Mishra, </strong><em>NSIT Delhi</em></p>
<p><strong>Sheeraz Kirmani,&nbsp; </strong><em>JMI, Delhi</em></p>
<p><strong>Sheeraz Kirmani,&nbsp; </strong><em>JMI, Delhi</em></p>
<p><strong>Shweta Gautam, </strong><em>NSIT Delhi</em></p>
<p><strong>Sidra Khanam, </strong><em>AMU, India</em></p>
<p><strong>Sonika Bhatnagar, </strong><em>NSIT Delhi</em></p>
<p><strong>Srinivasa K G, </strong><em>Jaffarpur Engg. College Delhi</em></p>
<p><strong>Sunanda Sinha Ganguli, </strong><em>NIT Hamirpur</em></p>
<p><strong><em>Sundeep Sharma, </em></strong>MBU, Solan</p>
<p><strong>Suneel Yadav, </strong><em>IIIT Allahabad</em></p>
<p><strong>Sunil Chamoli, </strong><em>DIT University</em></p>
<p><strong>Sunil Thakur, </strong><em>AP Goyal University</em></p>
<p><strong>Surya Prakash Singh, </strong><em>KNIT, Sultanpur (U.P.), India</em></p>
<p><strong>Sushma Nagpal, </strong><em>NSIT Delhi</em></p>
<p><strong>Swagata Bose, </strong><em>AIT Delhi</em></p>
<p><strong>Swami Naidu, </strong><em>NTU Singapore</em></p>
<p><strong>Syed Saad, </strong><em>MIT, Maharashtra</em></p>
<p><strong>Tarkeshwar Mahto, </strong><em>NIST Brahmapur</em></p>
<p><strong>Shanu Khan, </strong><em>MNIT Jaipur, India</em></p>
<p><strong>Tej Singh, </strong><em>MBU Solan</em></p>
<p><strong>Ujjwal Kumar Kalla, </strong><em>Govt. Eng. College,</em> <em>Bikaner</em></p>
<p><strong>Vashist Bist, </strong><em>Avant Garde Solutions</em></p>
<p><strong>Veenu, </strong><em>NSIT Delhi</em></p>
<p><strong>Vijyant Aggarwal, </strong><em>NSIT, India</em></p>
<p><strong>Vikrant Sharma, </strong><em>NISE Gurgaon</em></p>
<p><strong>Vinod Kumar Yadav, </strong><em>GBU, Noida</em></p>
<p><strong>Vishal Mishra, </strong><em>IIT (BHU)</em></p>
<p><strong>Vivek Prakash Pankaj, </strong><em>CPCB, Delhi</em></p>
<p><strong>Yash Aggarwal, </strong><em>Dhirubhai Ambani- IICT, Gandhiagar</em></p>
<p><strong>Yatender Kumar, </strong><em>NSIT Delhi</em></p>
<p><strong>Yogesh Pandya, </strong><em>Symbiosis</em> University, Indore</p>
<p><strong>Zarina P.P.</strong><em>, LBS Kerala</em></p>
<p><strong>&nbsp;</strong></p>
</div>
</div>
</ol>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>