<!DOCTYPE html>
<html>
<head>
<title>
    NSIT | SIGMA 2018
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="Keywords" content="SIGMA, SIGMA2018, SIGMA CONFERENCE">
<meta name="Description" content="An International Conference on Signals, Machines and Automation">
<meta property="og:title" content="About | NSIT">
<meta name="twitter:title" content="About | NSIT">
<link rel="stylesheet" type="text/css" href="./static/css/about.css">
            <link rel="stylesheet" href="./static/generated/conference_template_cssfae1.css?3731a594" />
    <link href="./static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
</head>
<body>
