<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                   <a href="/home" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                   <a href="/home" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SponsorshipInfo">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">About SIGMA 2018</li>
      </ol>      
      <div class="col-md-12">
	  <marquee direction="right" behavior="alternate"><font color="blue">Paper Submission for SIGMA 2018 are open.Last Date for Submission: <span style="color: red;">Extended upto 1<sup>st&nbsp;</sup>December 2017</span></font></marquee> 
	  <marquee direction="left" behavior="alternate"><font color="green">Paper Acceptance Notification Date: 5th Jan 2018 <!--<span style="color: red;">Extended upto 1<sup>st&nbsp;</sup>December 2017</span> --></font></marquee>
<h3><span style="color: #b30000;border:0;"><b>Welcome to SIGMA-2018 Website!</b></span></h3>
<h4><span style="color: #b30000;display:inline;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p><a href="http://www.iospress.nl/journal/journal-of-intelligent-fuzzy-systems"><img src="./static/images/SIGMA2018/iospress.jpg" width="80" height="60" hspace="150"></a><a href="http://www.springer.com/series/11156"><img src="./static/images/SIGMA2018/Springer_img.jpg" width="150" height="50"></a><img src="./static/images/SIGMA2018/DRDO.png" width="100" height="100" hspace="80"></p>
<p>The International Conference SIGMA-2018 aims to provide a common platform to the researchers in related fields to explore and discuss various aspects of artificial intelligence applications and advances in soft computing techniques. The Conference will provide excellent opportunities for the presentation of interesting new research results and discussion about them, leading to knowledge transfer and the generation of new ideas. All accepted papers will be published in the Conference proceedings.</p>
<p>SIGMA 2018 is organized in association with <a href="http://www.iospress.nl/journal/journal-of-intelligent-fuzzy-systems">IOS-Press, Netherlands</a> and <a href="http://www.springer.com/series/11156">Springer, Germany</a>. We plan to have several publication options for the accepted papers of SIGMA 2018. Further details are posted at &nbsp;<a href="/Submission"><strong>http://www.nsit.ac.in/SIGMA2018/Submission/.</strong></a></p>
<p>The conference will feature plenary/keynote talks, workshops, demonstrations, parallel technical sessions and tutorials.</p>
<p>The Conference will be held in Netaji Subhas Institute of Technology (NSIT), New Delhi, India during February 23-25, 2018. NSIT is an autonomous institute under Govt. of NCT of Delhi and affiliated to&nbsp;University of Delhi, India. NSIT has beautifully landscaped campus spreaded over 145 acres of land located in Dwarka, New Delhi, India. Delhi is capital of India and is a union territory and surroundings by Haryana on three sides and by Uttar Pradesh to the east.</p>
<p><a href="https://drive.google.com/open?id=1nshergbGaEkVzP5yYeM9y1c1FagcAW9p"><b>NSIT SIGMA 2018 Photos</b></a>
<p><img src="./static/images/SIGMA2018/logos.jpg" width="820" height="180"></p>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>