<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/Sponsorship_Info">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Hotel,Travel and Visa</li>
      </ol>      
      <div class="col-md-12">
<h3><span style="color: #b30000;"><strong>Hotel, Travel &amp; Visa</strong></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p><strong>Weather:</strong><strong>&nbsp;</strong>The climate of Delhi is an overlap between monsoon-influenced humid subtropical and semi-arid, with high variation between summer and winter temperatures and precipitation. Delhi's version of a humid subtropical climate is markedly different from many other humid subtropical cities in that the city features dust storms (something more commonly seen in a desert climate), has relatively dry short winters and has a prolonged spell of very hot weather, due to its semi-arid climate.</p>
<p><strong>Food:</strong><strong>&nbsp;</strong>The real flavour of the Delhi street food lies in the chaat. The original chaat is a mixture of potato pieces, crispy fried bread, Dahi Bhalla, gram and tangy-salty spices. The mixture is garnished with sour home-made Indian chilly and saunth (dried ginger and tamarind sauce), fresh green coriander leaves and yoghurt.</p>
<p><strong>Accommodation:&nbsp;</strong>NSIT (South-West Delhi) have good and convenient accommodation options for visitors. You can book their accommodation prior to visit to avoid any problems. There is an array of hotels in South-West Delhi with a range of price to suit your needs.</p>
<p>Few more hotels in near by NSIT: Coming Soon</p>
<p><strong>How to Reach:&nbsp;</strong>NSIT is well connected by <strong><em><u>Road, Rail and Air</u></em></strong>. &nbsp;It is located in the capital of India.<br /> &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p><br /> <strong>Flying in</strong><strong>:</strong>&nbsp;The nearest airport is Indra Gandhi International (IGI) and Delhi domestic airport which is 35 minutes&rsquo; drive by road. There are daily domestic flights from all over India. There are direct international flights from all over world.</p>
<p>From airport to NSIT, we reach by road or Metro.</p>
<p>Regarding metro ROUTEs(Nearest Metro Station is Dwarka Mor) click <a href="http://delhimetrorail.com/metro-fares.aspx">here</a>.</p>
<p><strong>By road: </strong>Delhi is well connected with the major cities. Buses run between Delhi and other cities frequently. Direct buses are available from maximum cities. There are three major<a href="http://delhigovt.nic.in/newdelhi/dept/transport/tr6a.asp">Inter State Bus Terminus</a> (ISBT): 1) Maharana Pratap ISBT at Kashmere Gate, Delhi, 2) Swami Vivekanand ISBT at Anand Vihar, Delhi and 3) Vir Hakikat Rai ISBT at Sarai Kale Khan, Delhi.</p>
<p>From ISBT to NSIT, we reach by road or by Metro.</p>
<p><br /> <strong>By train:&nbsp;</strong>There are 6 major railway stations in Delhi, List are given below. For more information click&nbsp; <a href="http://www.indianrail.gov.in">here</a></p>
<table style="height: 100px; width: 398px;" border="0">
<thead>
<tr>
<td style="width: 29px;">
<p>S.N.</p>
</td>
<td style="width: 41px;">
<p>Code</p>
</td>
<td style="width: 116px;">
<p>Station Name</p>
</td>
<td style="width: 24px;">
<p>S.N.</p>
</td>
<td style="width: 36px;">
<p>Code</p>
</td>
<td style="width: 114px;">
<p>Station Name</p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 29px;">1</td>
<td style="width: 41px;">ANVT</td>
<td style="width: 116px;">Anand Vihar Terminus</td>
<td style="width: 24px;">
<p>4</p>
</td>
<td style="width: 36px;">
<p>DEE</p>
</td>
<td style="width: 114px;">
<p>Delhi Sarai Rohilla</p>
</td>
</tr>
<tr>
<td style="width: 29px;">2</td>
<td style="width: 41px;">DLI</td>
<td style="width: 116px;">Old Delhi</td>
<td style="width: 24px;">
<p>5</p>
</td>
<td style="width: 36px;">
<p>NZM</p>
</td>
<td style="width: 114px;">
<p>HazratNizamuddin</p>
</td>
</tr>
<tr>
<td style="width: 29px;">
<p>3</p>
</td>
<td style="width: 41px;">
<p>DEC</p>
</td>
<td style="width: 116px;">
<p>Delhi Cantonment</p>
</td>
<td style="width: 24px;">6</td>
<td style="width: 36px;">NDLS</td>
<td style="width: 114px;">New Delhi</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>From railway station to NSIT, we can reach by road or by Metro. For more information of DTC routes click here: <a href="https://www.dtcbusroutes.in/bus/route/search">DTC ROUTES</a>.</p>
<p><strong>VISA Information</strong></p>
<p>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>An FAQ guideline from Ministry of Home Affairs, India regarding issue of VISA is available <a href="http://boi.gov.in/content/frequently-asked-questions-faqs">here</a>. &nbsp;Some embassy might require the letter from the Indian Government approving the Conference. Further details will be updated soon.&nbsp;If the respective embassy requires the invitation letter addressed to the individual, then please write to <a href="mailto:sigma2018.conference@gmail.com">SIGMA2018</a>:&nbsp;</p>
<p><a href="mailto:sigma2018.conference@gmail.com">sigma2018.conference@gmail.com</a></p>
<p>Download Ministry of External Affairs Permission - Coming Soon</p>
<p>Download Nodal Ministry Permission - Coming Soon</p>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>