<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SponsorshipInfo">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Publication</li>
      </ol>      
      <div class="col-md-12">
<h3><span style="color: #b30000;"><b>Publication Options</b></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p>We plan to have two publication options for accepted and presented papers of SIGMA-2018. &nbsp;Selected best papers will be published as a special issue in the <a href="http://www.iospress.nl/journal/journal-of-intelligent-fuzzy-systems"><em>Journal of Intelligent and Fuzzy Systems</em></a>. Remaining papers will be published in prestigious book series of <a href="http://www.springer.com/series/11156"><em>Advances in Intelligent Systems and Computing Series (Springer, Germany)</em></a><em>. </em></p>
<p>The journal is indexed by Academic Source Complete, ACM Digital Library, Business Source Complete, Cambridge, Scientific Abstracts, Compendex, Computer Science Index, CSA Illumina, EBSCO databases, Google Scholar, Inspec IET, Mathematical Reviews, Microsoft Academic Search, Science &amp; Technology Collection, <strong>Scopus</strong>, Ulrich's Periodicals Directory, Web of Science: Current, Contents/Engineering, Computing and Technology, Web of Science: Journal Citation Reports/Science Edition, Web of Science: Science Citation Index-Expanded (SciSearch&reg;), Zentralblatt MATH.</p>
<p>Publication in the book under series &ldquo;<a href="http://www.springer.com/series/11156">Advances in Intelligent Systems and Computing&rdquo; (Springer, Germany)</a> will also be made available in SpringerLink digital library. The volumes of this series are submitted for inclusion to the leading indexing services including ISI Proceedings, EI-Compendex, DBLP, SCOPUS, Google Scholar and Springerlink.</p>
<p><img src="./static/images/SIGMA2018/Journal_img.jpg" width="100" height="150"><a href="http://www.iospress.nl/journal/journal-of-intelligent-fuzzy-systems"><strong>Special Issue in the Journal of Intelligent and Fuzzy Systems,IOS Press,Netherlands(SCI Impact Factor 2016: 1.261)</strong></a></p>

<p><img src="./static/images/SIGMA2018/AISC.jpg" style="float:left;width:96px;height:150px;"><br><br><br><br><a href="http://www.springer.com/series/11156"><strong>Publishing the TWO books under Series "Advances in Intelligent Systems and Computing"(http://www.springer.com/series/11156). The papers will also be made available in Springer Link digital library</strong></a></p>
<br><br>
<p><img src="./static/images/SIGMA2018/Springer_img.jpg" style="float:left;width:100px;height:60px;"></p>

    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>