<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SponsorshipInfo">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Registration</li>
      </ol>      
      <div class="col-md-12">
       <h3><span style="color: #b30000;"><strong>Registration</strong></span></h3>
<h4><span style="color: #b30000;">&nbsp;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<table style="height: 250px; width: 790px;" border="1">
<tbody>
<tr>
<td style="width: 780px;" colspan="3">
<h4><span style="color: #000080;"><strong>Registration Fee (Publication in Advances in Intelligent Systems and Computing Series &ndash; Springer)</strong></span></h4>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Academician/Industry Participant</strong></p>
</td>
<td style="width: 202px;">
<p>Without late Fee</p>
</td>
<td style="width: 247px;">
<p>With Late Fee</p>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Academician/Industry Participant</strong></p>
<p><strong>(from Foreign)</strong></p>
</td>
<td style="width: 202px;">
<p>$&nbsp;300</p>
<p>&nbsp;</p>
</td>
<td style="width: 247px;">
<p>$&nbsp;350</p>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Students</strong></p>
<p><strong>(from Foreign)</strong></p>
</td>
<td style="width: 202px;">
<p>$&nbsp;250</p>
<p>&nbsp;</p>
</td>
<td style="width: 247px;">
<p>$&nbsp;300</p>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Academician/Industry Participant (Host Country) </strong></p>
</td>
<td style="width: 202px;">
<p>Rs 9000</p>
<p>&nbsp;</p>
</td>
<td style="width: 247px;">
<p>Rs 10000</p>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Students (Host Country)</strong></p>
</td>
<td style="width: 202px;">
<p>Rs 7000</p>
</td>
<td style="width: 247px;">
<p>Rs 8000</p>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Extra Paper Charges</strong></p>
</td>
<td style="width: 455px;" colspan="2">
<p>Rs 6000 <strong>(Host Country)</strong>; 175 USD <strong>(from Foreign)</strong></p>
</td>
</tr>
<tr>
<td style="width: 319px;">
<p><strong>Extra Page charges</strong></p>
</td>
<td style="width: 455px;" colspan="2">
<p>Rs 800 <strong>(Host Country)</strong>; 23 USD <strong>(from Foreign)</strong></p>
</td>
</tr>
</tbody>
</table>
<h1>&nbsp;</h1>
<h4><span style="color: #000080;"><strong>Registration Fee (Publication in Journal of Intelligent and Fuzzy Systems, IOS Press, SCI Impact Factor 2016: 1.261)</strong></span></h4>
<h4>Indian Authors: INR 21,000 - Paper Length: 12 journal pages<br /> Foreign Authors: USD 500 - Paper Length: 12 journal pages</h4>
<p>&nbsp;</p>
<p>The conference registration covers conference proceedings, conference kit, admission to all workshops, coffee breaks, lunch and banquet. The registration doesn&rsquo;t cover accommodation, transportation etc.</p>
<p>All accepted papers will be published in the conference proceedings. At least one author of an accepted paper is required to register at the full registration rate. If an author has got more than one accepted papers, each paper has also to be registered.</p>
<p><em><strong>It may be ensured that the Remitter&rsquo;s (Participant/Author) name, EasyChair Paper-ID and the Purpose of remittance (Registration Fees) is clearly mentioned by the Remitter in the Funds Transfer Application.</strong></em> Indian Nationals or Students residing in overseas have to pay foreign authors' registration rate only.</p>
<p>The page limit of the paper is 12 pages. However, extra page charges will be applicable for papers exceeding 12 pages (maximum Three Extra pages)..</p>
<p>All accepted papers will be published as a special volume in the prestigious <strong>Advances in Intelligent Systems and Computing (Springer) Series (Approval Under Process)</strong>, indexed by ISI Proceedings, Ulrich's, EI-Compendex, SCOPUS, Zentralblatt Math, MetaPress, Springerlink etc...All accepted papers will be archived in the SpringerLink digital Library.</p>
<p><strong>Student Registration:</strong> Students (UG/PG Students and only Full time Research/PhD Scholars) have to submit their scanned copy of the ID card along with the Registration form to avail the deduction. When the students are coming for the presentation, they have to produce the original Student ID card and <em><u>bonafied certificate</u></em> from the Head of the Institution/Department.</p>
<p><strong>Registration Fees for Conference Attendee/Listener</strong><br /> <strong>Foreign Delegates:</strong> USD 115<br /> <strong>Indian Delegates:</strong> INR 5150<br /> <strong>Full Time Students:</strong> INR 1750</p>
<!-- <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../static/images/SIGMA2018/reg_img.jpg" alt="NSIT" title="NSIT"> <a href="https://imsnsit.org/imsnsit/elearn_programeregistration.php"><strong> Click here</strong></a></p>
<p>Thank you for visiting the website for registration and more details on the conference will be provided soon.</p> -->
<p>If you have any questions or clarifications on registration, <br /> please email to: <a href="mailto:secretariat.sigma2018@gmail.com">secretariat.sigma2018@gmail.com</a>.</p>
<p>The following are the account details for payment of paper registration fee (ONLINE MODE ONLY):<br /><br />A/C Name: SIGMA 2018<br />A/C No.: 37472844320<br />A/C TYPE: CURRENT ACCOUNT<br />SWIFT CODE: SBININBB563<br />IFSC CODE: SBIN0010650 (used for RTGS, IMPS and NEFT transactions)<br />MICR CODE: 110002449<br />BRANCH CODE: 010650<br />Bank: STATE BANK OF INDIA<br />Address: NETAJI SUBHASH INSTITUTE OF TECHNLOGY, SECTOR 3, DWARKA, NEW DELHI 110078</p>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>