<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/Sponsorship_Info">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Special Session Details</li>
      </ol>      
      <div class="col-md-12">
<h3><span style="color: #b30000;"><b>Special Session Details</b></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</h4>
<!-- <table style="height: 30px; width: 819px;" border="1">
<tbody>
<tr style="height: 21px;">
<td style="width: 85px; height: 21px;">
<p style="text-align: center;">Special Session ID</p>
</td>
<td style="width: 689px; height: 21px;">
<p style="text-align: center;">DETAILS OF SPECIAL SESSIONS</p>
</td>
</tr>
</tbody>
</table> -->
<p>&nbsp;</p>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 288px; width: 65px;" rowspan="4">
<p>S-20901</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>&nbsp;Advances in Soft Computing Techniques for Hospital and Health Management</p>
</td>
</tr>
<tr style="height: 191px;">
<td style="height: 191px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson:</strong></p>
<p><strong>&nbsp;Dr. A.K. Khokhar</strong></p>
<p><strong>&nbsp;Dr. N.Fatema</strong></p>
</td>
<td style="height: 191px; width: 617px;padding: 10px;">
<p><img src="./static/images/SIGMA2018/AKKhokar.jpg" style="float:left;width:90px;height:100px;"><strong>&nbsp;Dr A K Khokhar</strong> is a Medical graduated with 3 post graduations in the field of Health Care Administration and Hospital Administration. Besides working in different positions in ESIC Medical services for 36 years, he has been teaching as visiting faculty at FMS, University of Delhi, and Institute of Management Studies, YMCA, New Delhi, for 24 years. He has also been a visiting faculty of IIHMR, NIHFW, SAIL and NTPC. He has organized a number of courses on Hospital Administration for Senior Doctors during his tenure at ESIC. He has been the Editor of Journal of Hospital Administration of IHA for ten years. He has carried out a number of studies and surveys on the role of hospitals in primary health care and has also written a book on Hospitals and Primary Health Care published by International Hospital Federation, London, UK. He has been proactive in developing professional management in hospitals and has developed a number of Case Studies. He has attended and presented papers on different aspects of Hospital Management in various conferences at national and international levels. In his last assignment as Medical Superintendent at ESIC Model Hospital, Rajajinagar, Bangalore, he was instrumental in developing and starting Post Graduate Institute of Medical Sciences and Research, and Under Graduate Medical College, under ESIC. His main interests are in Hospital Operations and Management.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>&nbsp;International Institute of Health Management Research, Delhi, India</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:akkhokar@iihmr.org">&nbsp;akkhokar@iihmr.org</a>; <a href="mailto:nuzi62@gmail.com">nuzi62@gmail.com</a>&nbsp;&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="width: 814px;" border="1">
<tbody>
<tr>
<td style="width: 65px;" rowspan="4">
<p>S-21902</p>
</td>
<td style="width: 129px;">
<p><strong>&nbsp;Session Title</strong></p>
</td>
<td style="width: 620px;">
<p>&nbsp;Intelligent Techniques in Software Engineering</p>
</td>
</tr>
<tr>
<td style="width: 160px;">
<p><strong>&nbsp;Session Chairperson:</strong></p>
<p><strong>&nbsp;Dr.Sangeeta Sabharwal</strong></p>
<p><strong>&nbsp;Dr.Sushama Nagpal</strong></p>
<p><strong>&nbsp;Dr.Ankita Bansal</strong></p>
</td>
<td style="width: 620px;padding: 10px;">
<p><img src="./static/images/SIGMA2018/Sangeeta.jpg" style="float:left;width:90px;height:100px;"><strong>&nbsp;Dr. Sangeeta Sabharwal</strong> is a Professor at Division of Computer Engineering at NSIT, Delhi. She has done her B.E. and M.E. (with distinction)from Delhi College of Engineering and Ph.D from Delhi University. She has an experience of 34 years. Her areas of interest are Requirement engineering, Object Oriented Analysis, Domain Specific Modeling, Software testing, Software Metrics&nbsp; and Data Warehouse. She has published more than 90 papers in international journals and conferences and is on the editorial boards of several National and International journals. She has also authored a book on Software Engineering. She is a Senior member of IEEE, ACM and life member of Computer Society of India.&nbsp; She is invited as expert by several Government organizations and Universities. Several research scholars have completed their Ph.D under her guidance and many are currently pursuing their Ph.D.</p>
<p><img src="./static/images/SIGMA2018/sushma.jpg" style="float:left;width:90px;height:100px;"><strong>&nbsp;Dr. Sushama Nagpal</strong> is currently working as Associate Professor in the Division of Computer Engineering at NSIT, New Delhi. She did her B.E. in Computer Science and Engineering from C. R. State College of Engineering, Murthal (Now DCRUST, Muthal). She obtained her M.Tech and Ph.D. degree from University of Delhi. She has almost 20 years of experience in teaching and has actively engaged herself in research. Her areas of interests include Software metrics, Data Warehouse quality, Data Mining/Machine Learning, and Recommender Systems. She has published various research papers in reputed international journals and conferences. She has reviewed number of research articles for reputed international journals published by Springer, IET etc. She is also in editorial board for international journal published by reputed publisher.</p>
</td>
</tr>
<tr>
<td style="width: 129px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="width: 620px;">
<p>&nbsp;Division of Computer Science Engineering, NSIT, Delhi, India</p>
</td>
</tr>
<tr>
<td style="width: 129px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="width: 620px;">
<p><a href="mailto:sushmapriyadarshi@yahoo.com">&nbsp;sushmapriyadarshi@yahoo.com</a>; <a href="mailto:ankita.bansal06@gmail.com">ankita.bansal06@gmail.com</a></p>
<p><a href="mailto:ankita.bansal06@gmail.com">&nbsp;ankita.bansal06@gmail.com</a></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 170px; width: 65px;" rowspan="4">
<p>S-21903</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Optimization Techniques in Biotechnology and Similar Disciplines</p>
</td>
</tr>
<tr style="height: 73px;">
<td style="height: 73px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 73px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/soumya.jpg" alt="" /><strong>&nbsp;Dr. Soumya Sasmal</strong> is currently working as Assistant Professor at Division of Biological Sciences and Engineering, Netaji Subhas Institute of Technology. His research area includes biofuel, bioenergy, food science and engineering. He holds title &ldquo;chartered engineer&rdquo; from Institution of engineers, India. Dr. Sasmal worked as Scientist for biofuel development at Nagarjuna Fertilizer and chemicals limited, Hyderabad. He also served as Scientist &ldquo;C&rdquo; at Center of Innovative and Applied Bioprocessing, Mohali.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Division of Biotechnology, Netaji Subhas Institute of Technology, Delhi, India</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:soumya.sasmal@nsit.ac.in">soumya.sasmal@nsit.ac.in</a>&nbsp;</p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 170px; width: 65px;" rowspan="4">
<p>S-21904</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Applications using Computational Techniques in Renewable Energy System and sources</p>
</td>
</tr>
<tr style="height: 73px;">
<td style="height: 73px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 73px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/mahto.jpg" alt="" /> <strong>Dr.Tarkeshwar Mahto</strong> was born in 1986 at Gola, Ramgarh, Jharkhand, India. He received B.Tech degree in Electrical and Electronics Engineering from Jagarnath Institute of Technology &amp; Management, Paralakhemundi, Odisha, India, in 2009 and M.Tech in Electrical Engineering (Condition Monitering, Control and Protection of Electrical Apparatus) from National Institute of Technology Hamirpur, Himachal Pradesh, India, in 2012. He worked in Mewar University, Chittorgarh, Rajasthan as an Assistant Professor and received his Doctor of Philosophy from the Department Electrical Engineering of Indian Institute of Technology (Indian School of Mines), Dhanbad, Jharkhand, India. Currently, he is working as an Assistant Professor at National Institute of Science and Technology, Berhumpur, Odisha. His research interest includes application of optimization and controller applications in selected fields of Electrical Engineering.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>National Institute of Science and Technology, Odisa</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:tara.mahto@gmail.com">tara.mahto@gmail.com</a>, <a href="mailto:taramahto@gmail.com">taramahto@gmail.com</a></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 170px; width: 65px;" rowspan="4">
<p>S-26905</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Computer and Machine Vision</p>
</td>
</tr>
<tr style="height: 73px;">
<td style="height: 73px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 73px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/dushyant.jpg" alt="" /><strong>Dr. Dushyant Kumar Singh</strong> working as Assistant Professor at Motilal Nehru National Institute of Technology (MNNIT) Allahabad since Oct. 2012. Prior to this he has as well served other engineering colleges for 3 years. He did his PhD from MNNIT Allahabad and his Undergraduate and Postgraduate from AMU Aligarh. He has published good number of research papers in reputed Journals (SCI &amp; Scopus indexed) and Conference Proceedings. He had as well delivered many good talks in area of Computer Vision, IoT, Embedded Design etc at MNNIT Allahabad and outside also. He had been reviewers and TPC members to many reputed conferences and as well reviewer to reputed journals. He had also visited abroad for some academic assignments. His area of interest is Computer Vision, Machine Learning, IoT &amp; Embedded Design</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Motilal Nehru National Institute of Technology Allahabad, India</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:dushyant@mnnit.ac.in">dushyant@mnnit.ac.in</a></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-61006</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Advancement in Condition Monitoring and Fault Diagnosis of gearbox</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/yogesh_pandya.jpg" alt="" /><strong>Dr. Yogesh Pandya</strong> has obtained his M.Tech in Design Engineering from IIT Bombay and Ph.D from IIT Indore in Mechanical Engineering. His area of interest includes GearBox health monitoring, Automotive Vibration studies, Transmission fault Diagnosis, Vibration dynamic modeling, Finite Element Analysis of Cracked bodies, CFD, Vehicle Dynamics, Vehicle Electronics Mechatronics, Machine Design and Drawing. Dr. Pandya has a wide academic and research experience of more than 15 years and has held senior technical and administrative positions like Global Research Consultant and Head of the Department in his career.He is presently working with Symbiosis University of Applied sciences Indore MP as a Associate professor In school of Automobile and Mechatronics Engineering.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Symbiosis University of Applied sciences Indore MP</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:yogeshpandyaa@gmail.com">yogeshpandyaa@gmail.com</a><strong>, +91-</strong><strong>9575611222</strong></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-61007</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Effective Renewable Energy Solutions for Remote Areas</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>Session Chairperson:</strong></p>
<p><strong>Dr. Anuradha Tomar</strong></p>
<p><strong>Dr. Gayadhar Panda</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/anuradha.jpg" alt="" />
<strong>Dr. Anuradha Tomar</strong>, currently working as Associate Professor and Head of Electrical &amp; Electronics Engineering Department in HMR Institute of Technology and Management, New Delhi. She obtained her B.E degree in Electronics Instrumentation &amp; Control Engineering with &ldquo;Honours&rdquo; from University of Rajasthan, Jaipur (Raj.) in 2007 and M. Tech degree from National Institute of Technology, H.P. in 2009. She received her Doctorate degree in 2014.&nbsp;&nbsp; She is a member of IEEE, ISTE, IETE, IEI, IAENG and IEEE branch counsellor of IEEE HMRITM Student Chapter. Her areas of interest are Photovoltaic system, Microgrid, Energy conservation and Automation. She has published Research/review papers in reputed International journals IEEE, National Journals and International Conferences. She has also filled five Indian Patents on her name.</p>
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/gavadhar.jpg" alt="" />
<strong>Dr. Gayadhar Panda</strong> graduated in electrical engineering from the Institute of Engineers, Kolkata, India, and received the Master's degree in power electronics from Bengal Engineering College (presently IIEST), Howrah, India, and the Ph. D. degree in electrical engineering from Utkal University, Bhubaneswar, India, in 1996, 1998, and 2007, respectively.</p>
<p>Since January 2013, he has been with the Department of Electrical Engineering, National Institute of Technology Meghalaya, Shillong, India, as an Associate Professor. His research interests include automatic generation control, stability improvements using FACT devices, power quality, power electronic converters, and renewable energy integration.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Electrical &amp; Electronics Engineering Department, HMR Institute of Technology and Management, New Delhi</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:eranu28@gmail.com">eranu28@gmail.com</a><strong>, +91-</strong><strong>9560508119</strong></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-61008</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Engineering Trends in Soft Computing Techniques</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/monika.jpg" alt="" /><strong>Dr. Monika Gupta</strong> received the B.E. degree in electrical engineering from Thapar Institute of Engineering and Technology, Patiala, India in 1993 and the M.Tech degree in Process Control and the Ph.d. degree in Soft Computing techniques from university of Delhi (NSIT) in 2005 and 2013 respectively. She is presently working with department of Electrical and Electronics Engineering in MAIT, Delhi under Guru Govind Singh Indraprastha University. She is author of number of publications in journals, book chapters and conferences. Her current research interests include neural networks, fuzzy logic, power quality and hybrid methods in modeling, identification and control of nonlinear systems. She is reviewer of many international journals and conferences of repute. To mention some are International Journal of Artificial Intelligence and Soft Computing (IJAISC) by Inderscience, Electric Power Components and Systems Journal by Taylor Francis, International Journal of Applied Research and Studies by IJARS and many IEEE conferences. Her paper titled &ldquo;Project Based Learning in Engineering Education&rdquo;, ICTIEE-2015, Bengaluru, 6-8 January 2015 was awarded Best Poster. She was also awarded Best Teacher for academic Year 2008-09 by Maharaja Agrasen Institute of Technology. She was Session co Chair for IEEE International Conference on Power Electronics, Intelligent Control and Energy Systems (ICPEICES 2016) at DTU, Delhi on 4-6 th july 2016. She was Member of organizing committee for 2nd International Conference on Applied Science Engineering and Technology (ICASET-16 ) at Tripati on 18-19 oct. 2016. She was Convenor of special session titled Recent trends in Soft Computing Techniques and their hybrids in Engineering Applications in IEEE conference INDIAcom to held in 01-03 March 2017 at BVIP, New Delhi</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Maharaja Agrasen institute of Technology, New Delhi</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:monikagupta@mait.ac.in">monikagupta@mait.ac.in</a>, <a href="mailto:gupta.monika.219@gmail.com">gupta.monika.219@gmail.com</a>, 9818006038</p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-10109</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Soft Computing Application in Wide Area Measurement System</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/papia.jpg" alt="" /><strong>Papia Ray</strong> received her Bachelor of Engineering (Electrical Engineering) degree from Government Engineering College, Bihar and Master of Technology (Power Systems) from National Institute of Technology, Jamshedpur and Ph.D degree from Indian Institute of Technology, Delhi in 2013. She is presently serving as Associate Professor in Electrical Engineering Department of Veer Surendra Sai University of Technology, Burla, Odisha. She is a Member of IEEE and Institution of Engineers and Life Member of ISTE. She is currently handling a Project from Department of Science and Technology under Young Scientist Scheme. She is having 10 years of Teaching experience. Her areas of interests include Data Mining/Machine Learning, Power System Protection, Biomedical Instrumentation, Wide Area Measurement System. She has published various research papers in reputed international journals and conferences. She has reviewed number of research articles for reputed international journals published by Springer, IET etc.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Veer Surendra Sai University of Technology, Burla, Odisha, India</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:papia_ray@yahoo.co.in">papia_ray@yahoo.co.in</a></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-111010</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Internet of Things for Healthcare Applications</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/malti.jpg" alt="" /><strong>Dr.Malti Bansal</strong> received her Ph.D. degree from Netaji Subhas Institute of Technology (NSIT), University of Delhi. She is currently working as Assistant Professor at Department of Electronics &amp; Communication Engineering, Delhi Technological University (DTU), Delhi. Her research interests include Nanoelectronics, Microelectronics, Radio Frequency Electronics, Integrated Circuit Technology, Applications of IoT and VLSI. She has to her credit several research papers in international refereed SCI journals and reputed national and international conferences.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Department of Electronics &amp; Communication Engineering, Delhi Technological University (DTU), Delhi.</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:maltibansal@dce.ac.in">maltibansal@dce.ac.in</a><strong>, </strong><strong>Mobile:+91-8826295882</strong></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-121011</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Intelligent Information and Image Processing</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/ravinder.jpg" alt="" /><strong>Dr. Ravinder Kumar</strong> has obtained M. Tech. in Computer Science and Engineering from Guru Jambheshwar University of Science &amp; Technology Hisar. He has been awarded gold medal in M. Tech. He has obtained his Ph.D Degree on Biometrics Technologies from USICT, GGSIPU Delhi under the joint supervision of Prof. Pravin Chandra of USICT and Prof. M. Hanmandlu of IIT Delhi. He is also the UGC NET-2014 qualified. Dr. Kumar has over 17 years of extensive experience in IT Industry and Academics. His interdisciplinary research interests span over biometrics, Image processing and Intelligent System design.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>HMR Institute of Technology and Management, Delhi (Affiliated to GGSIPU New Delhi)</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:ravinder_y@yahoo.com">ravinder_y@yahoo.com</a>, Mobile: +91-9810431631</p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-101012</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>RF and Microwave Communication</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/dku.jpg" alt="" />Dr. Dharmendra Kumar Upadhyay is Professor in the Division of Electronics and Communication Engineering. He holds Bachelor of Engineering in Electronics and Communication Engineering from Kumaon University, Nainital and Master of Technology in Communication and Information Systems from Aligarh Muslim University, Aligarh, U.P. He obtained Ph.D.&nbsp;from Uttarakhand Technical University, Dehradun, Uttarakhand. His research interests include Digital Signal Processing, Microwave Filter and Antenna Designs. He has published several papers in various International Journals including IET, Electronics Letters. He has also presented his research work in several International IEEE Conferences. He is a life member of ISTE. He is also the reviewers of several reputed International Journals namely IEEE Transactions on Circuits and Systems-I; Circuits and Systems-II; Signal Processing; Circuits Systems and Signal Processing-Springer, ETRI Journal etc. He is guiding three Ph.D. research scholars.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Division of Electronics and Communication Engineering, NSIT, Delhi, India</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:upadhyay_d@rediffmail.com">upadhyay_d@rediffmail.com</a></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-171013</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Renewable Energy and its Application</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/aky.jpg" alt="" /><strong>Dr Amit Kumar Yadav</strong> received B. Tech in Electrical and Electronics Engineering in 2009 from UCER Naini Allahabad U.P, India; M.Tech in Power System in 2011 and PhD in Artificial Neural Network based prediction of solar radiation for optimum sizing of photovoltaic systems for power generation in 2016 from Centre for Energy and Environmental Engineering National Institute of Technology Hamirpur, Himachal Pradesh, India. Currently, he is an assistant professor in Electrical and Electronics Engineering Department, National Institute of Technology, Sikkim. His research interests include solar radiation and wind speed prediction for power generation, hybrid systems, artificial intelligence, optimization techniques and condition monitoring of power apparatus. He has authored 10 science citation index international journals, 10 Scopus index international journals and 10 IEEE Conference publications and many more are under communications with science citation index international journals. The h-index of paper is 11 and total citation of paper is 400.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Electrical and Electronics Engineering Department, National Institute of Technology, Sikkim</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:amit1986.529@rediffmail.com">amit1986.529@rediffmail.com</a><strong>,</strong><strong> Mobile:+91-8942967265</strong></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-181014</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Application of AI in Foods, Nutrition and Clinical Health</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/fhf.jpg" alt="" /><strong>Dr.F.H Farzana</strong> has done Ph.D in foods and nutrition. She was meritorious student during her graduation and post graduation. She has a vast experience i.e. 24yrs as a training associate at KVK Aurangabad Maharashtra. She has worked with DRDA, Zilla Parishad, NGO'S and live departments for the transfer of technology and conduction of various programmes for the upliftilment of rural people. During this period she has conducted several training for rural women such as value added nutritional food recipes, different small scale industries products making training for their financial strength. She has trained rural women and children for health awareness. Her area of research is empowering rural and urban women in all aspects such as their physical, mental, familial, social and financial growth through training, demonstrations and evaluation.</p>
<p>Prof. Farzana is teaching foods and nutrition to the under graduates and post graduate students&nbsp;at college of community science at VNMKV Parbhani Maharashtra since 11 years. During this tenure she is related with clinical research, product development, it's outcome on health. She has presented different papers in renowned journals. Her main aim is to teach students details of food ingredients, it's health benefits and its requirements in different stages of women life cycle such as during adult age during pregnancy, lactation and for children of different age groups. She is trying to bring this health benefits by educating and empowering girl students with the help of academic, research, training and analysis.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Department of Foods and Nutrition, VNMKV Parbhani, Maharashtra</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:drfhfarzana@gmail.com">drfhfarzana@gmail.com</a></p>
</td>
</tr>
</tbody>
</table><br>
<table style="width: 818px;" border="1">
<tbody>
<tr style="height: 37px;">
<td style="height: 160px; width: 65px;" rowspan="4">
<p>S-231015</p>
</td>
<td style="height: 37px; width: 133px;">
<p><strong>Session Title </strong></p>
</td>
<td style="height: 37px; width: 617px;">
<p>Power Converters for Motor Drives and Renewable Energy</p>
</td>
</tr>
<tr style="height: 63px;">
<td style="height: 63px; width: 160px;">
<p>&nbsp;</p>
<p><strong>&nbsp;Session Chairperson</strong></p>
<p><strong>&nbsp;Detail</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td style="height: 63px; width: 617px; padding: 10px;">
<p><img style="float: left; width: 90px; height: 100px;" src="./static/images/SIGMA2018/ai.jpg" alt="" /><strong>Atif Iqbal,</strong> <em>Senior Member IEEE,</em> PhD&nbsp; (UK), <em>Fellow IE (India)</em>- Associate Editor IEEE Tran. On Industry Application, Editor-in-Chief, imanager journal of Electrical Engineering, Associate Professor at Electrical Engineering, Qatar University and Former Full Professor at Electrical Engineering, Aligarh Muslim University (AMU), Aligarh, India.&nbsp; Recipient of Outstanding Faculty Merit Award AY 2014-2015 and Research excellence award at Qatar University, Doha, Qatar. He received his B.Sc. (Gold Medal) and M.Sc. Engineering (Power System &amp; Drives) degrees in 1991 and 1996, respectively, from the Aligarh Muslim University (AMU), Aligarh, India and PhD in 2006 from Liverpool John Moores University, Liverpool, UK.&nbsp; He has been employed as a Lecturer in the Department of Electrical Engineering, AMU, Aligarh since 1991 where he served as Full Professor until Aug. 2016. He is recipient of MaulanaTufail Ahmad Gold Medal for standing first at B.Sc. Engg. Exams in 1991 from AMU. He has received best research papers awards at IEEE ICIT-2013 and IET-SESICON-2013. He has published widely in International Journals and Conferences his research findings related to Power Electronics and Renewable Energy Sources. Dr. Iqbal has authored/co-authored more than 280 research papers and one book and two chapters in two other books. He has supervised several large R&amp;D projects. His principal area of research interest is Modeling and Simulation of Power Electronic Converters, Control of multi-phase motor drives and Renewable Energy sources.</p>
</td>
</tr>
<tr style="height: 32px;">
<td style="height: 32px; width: 133px;">
<p>&nbsp;Affiliation</p>
</td>
<td style="height: 32px; width: 617px;">
<p>Department of Electrical Engineering, Qatar University, Doha-Qatar</p>
</td>
</tr>
<tr style="height: 28px;">
<td style="height: 28px; width: 133px;">
<p>&nbsp;Contact Detail</p>
</td>
<td style="height: 28px; width: 617px;">
<p><a href="mailto:atif.iqbal@qu.edu.qa">atif.iqbal@qu.edu.qa</a><strong>, Mobile:+974 33276330</strong></p>
</td>
</tr>
</tbody>
</table><br>


    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>