<%- include('./header') %>
 <div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SponsorshipInfo">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Sponsorship</li>
      </ol>      
      <div class="col-md-12">
<h3><span style="color: #b30000;"><b>Sponsorship</b></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p>For sponsorship opportunity, please contact <a href="mailto:secretariat.sigma2018@gmail.com">secretariat.sigma2018@gmail.com</a>&nbsp;</p>
<h4><span style="color: #000080;"><b>Platinum Sponsorship:</b></span></h4>
<p><img src="./static/images/SIGMA2018/plat1.jpg" width="150" height="120" hspace="100"> <img src="./static/images/SIGMA2018/Plat2.jpg" width="300" height="120"></p>
<!-- <ol>
<li>Complimentary Delegate passes</li>
<li>30 mins presentation slot</li>
<li>1 Complimentary exhibit booth</li>
<li>Display of logo on all printed material, and website</li>
<li>Company brochure in registration kit</li>
</ol> -->
<h4><span style="color: #000080;"><b>Diamond Sponsorship:</b></span></h4>
<p><img src="./static/images/SIGMA2018/Diamond1.jpg" width="300" height="120"></p>
<!-- <ol>
<li>Complimentary Delegate passes</li>
<li>20 mins presentation slot</li>
<li>1 Complimentary exhibit booth</li>
<li>Display of logo on all printed material, and website</li>
<li>Company brochure in registration kit</li>
</ol> -->
<h4><span style="color: #000080;"><b>Gold Sponsorship:</b></span></h4>
<p><img src="./static/images/SIGMA2018/Gold1.jpg" width="150" height="120" hspace="100"> <img src="./static/images/SIGMA2018/Gold2.jpg" width="300" height="120"></p>
<!-- <ol>
<li>Complimentary Delegate passes</li>
<li>15 mins presentation slot</li>
<li>1 Complimentary exhibit booth</li>
<li>Display of logo on all printed material, and website</li>
<li>Company brochure in registration kit</li>
</ol> -->
<h4><span style="color: #000080;"><b>Silver Sponsorship:</b></span></h4><br>
<p><img src="./static/images/SIGMA2018/Silver1.jpg" width="300" height="120"></p>
<!-- <ol>
<li>Complimentary Delegate passes</li>
<li>10 mins presentation slot</li>
<li>1 exhibit booth</li>
<li>Display of logo on all printed material, and website</li>
</ol> -->
<h4><span style="color: #000080;"><b>Bronze Sponsorship:</b></span></h4><br>
<p><img src="./static/images/SIGMA2018/Bronze1.jpg" width="150" height="120" hspace="100"> <img src="./static/images/SIGMA2018/Bronze2.jpg" width="300" height="120"></p><br>
<!-- <ol>
<li>Complimentary Delegate passes</li>
<li>1 display table space</li>
<li>display of logo on all printed material, and website</li>
</ol> -->
<h4><span style="color: #000080;"><b>Exhibit Opportunities:</b></span></h4><br>
<p>SIGMA-2018 presents a unique opportunity for Institute, Organization and Industries to exhibit their products. For more information, please contact: <a href="mailto:secretariat.sigma2018@gmail.com">secretariat.sigma2018@gmail.com</a></p>

<h3><span style="color: #b30000;"><b>For Souvenir</b></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p>A souvenir will be printed as a hard copy and released to mark the occasion of the conference. This will contain abstract of invited lectures and accepted papers. It will also contain advertisements of various sponsoring agencies. The rates for <strong>advertisement in souvenir</strong> are:</p>
<p>Back Cover (Colour)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Rs</strong> 0.50 L</p>
<p>Inner Cover (Colour)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Rs</strong> 0.30 L</p>
<p>Full Page &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Rs</strong> 0.20 L</p>
<p>Half Page &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Rs</strong> 0.10 L</p>
<p>The following are the account details for payment of paper registration fee (ONLINE MODE ONLY):<br /><br />A/C Name: SIGMA 2018<br />A/C No.: 37472844320<br />A/C TYPE: CURRENT ACCOUNT<br />SWIFT CODE: SBININBB563<br />IFSC CODE: SBIN0010650 (used for RTGS, IMPS and NEFT transactions)<br />MICR CODE: 110002449<br />BRANCH CODE: 010650<br />Bank: STATE BANK OF INDIA<br />Address: NETAJI SUBHASH INSTITUTE OF TECHNLOGY, SECTOR 3, DWARKA, NEW DELHI 110078</p>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>