<%- include('./header') %>
<div class="container-fluid">
        <div class="row logoRow centeredParent padTopSmall padBottomSmall" >		
            <div class="leftFloated" style:"float:center;clear:center;">
				<br>
                <a href="http://www.nsit.ac.in/" style="text-decoration:none !important; color:inherit;">
                    <div class="navbar-brand" > <img id="logo-header" src="./static/images/SIGMA2018/logo_sigma.jpg" alt="NSIT" title="NSIT">
					</a>
				</div>
            </div> 
           <!--<div class="leftFloated" style:"float:left;clear:left;">-->
           <div id="logo-head">
		   <br>
                <strong>
                    <a href="/" style="text-decoration:none !important; color:inherit;">
                        <!--<h2 id="logo-subhead">International Conference on </h2>-->
                         <h3 id="logo-tophead"><font color="yellow"><b>International Conference on</b></font></h3>
						 
						<!-- <span class="logo-tophead"><font face="verdana" size="4">International Conference</font></span> -->
                    </a>
                    <a href="/" target="_blank" style="text-decoration:none !important; color:inherit;">
						<h3 id="logo-subhead"><font color="#800000" size="6"><b>Signals, Machines and Automation</b></font></h3>
						<h3 id="logo-subhead"><font color="#800000"><b>(SIGMA -2018)</b></font></h3>
                        <h4 id="logo-subhead"><font color="white">23-25 February 2018,Venue:Netaji Subash Institute of Technology (NSIT) Delhi</font></h4>
                    </a>
                </strong>
		<br>
           </div>
		   <img id="logo-header-right" src="./static/images/nsit_logo2.png" alt="NSIT" title="NSIT">			   
				</div> 

<div class="clearfix mrg-10"></div>
<section id="main_content">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="sidebar_nav">
                <ul class="nav nav-list">
                  <li><a href="/home">Home</a></li>
                  <!--<li><a href="//administration">Administration</a></li>-->
                  <li><a href="/CallforPapers">Call for Papers</a></li>
                  <li><a href="/Publications">Publication</a></li>
                  <li><a href="/Submission">Submission</a></li>
                  <li><a href="/ImportantDates">Important Dates</a></li>
                  <!--<li><a href="//SIGMA2018/home">Workshops</a></li>-->
                  <li><a href="/Committees">Committees</a></li> 
                 <!--  <li><label class="tree-toggle nav-header">Committees</label>
						<ul class="nav nav-list tree">
                        <li><a href="/#">Organizing Commitee</a></li>
                        <li><a href="/#">Advisory Committee</a></li>
						<li><a href="/#">Tech.Programme Commitee</a></li>
						</ul>
				  </li>	 -->
				  <li><a href="/KeyNoteSpeakers">Keynote Speakers</a></li>
                  <li><a href="/AcceptedSpeakers">Accepted Papers</a></li>
                  <li><a href="/Registration">Registration</a></li>
				  <li><a href="/Awards">Awards<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/Sponsorship_Info">Sponsorship Info</a></li>
				  <li><a href="/Program">Program<sup style="color:orange;">&nbsp;New</sup></a></li>
				  <li><a href="/SpecialSession">Special Session Details</a></li>
				  <li><a href="/download">Download</a></li>
				  <li><a href="/Venue">Venue</a></li>
				  <li><a href="/HotelTravelVisa">Hotel,Travel and Visa</a></li>				  
				  <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
              </div>
              <br>
            </div>
        

    <div class = "container col-md-9 col-sm-9">
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li class="active">Venue</li>
      </ol>      
      <div class="col-md-12">
<h3><span style="color: #b30000;"><b>Venue</b></span></h3>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4>
<p>The conference will be held at <a href="http://www.nsit.ac.in">Netaji Subhas Institute of Technology&nbsp;(NSIT)</a>, Delhi, India. <strong>Netaji Subhas Institute of Technology</strong> (<strong>NSIT</strong>), formerly known as the <strong>Delhi Institute of Technology</strong>, is an engineering college located in Dwarka, New Delhi, India, Established in 1983, it is an autonomous institution of the Government of Delhi. NSIT is the only engineering college under the <a href="http://www.du.ac.in/du">University of Delhi</a>. The institute started with an undergraduate academic program in the area of Electronics &amp; Communication Engineering with an intake of 45 Students under the Faculty of Technology, University of Delhi. New programs in the areas of Computer Engineering, Instrumentation &amp; Control Engineering, and Manufacturing Processes &amp; Automation Engineering were added subsequently. The institute has been and is affiliated to University of Delhi for all of its academic programs.</p>
<p>The Institute was formally inaugurated in its own new campus in Dwarka, New Delhi, by <strong>Atal Bihari Vajpayee</strong>, <strong>former Prime Minister of India</strong>, on 23 January 1997.</p>
<p>NSIT has a fully residential campus on 145 acres of land. Campus facilities include faculty and staff residences, student hostels, cooperative mess and a sports complex. A prominent feature of the campus is the vast expanse of flora and fauna that envelopes its entirety. The campus is divided into clusters of buildings. The administrative block contains the important offices, banks, a post office as well as an auditorium where major functions are held. The academic area chiefly comprises the main building and various departmental annexes. The library is housed in a separate block behind the main five academic blocks. The campus has four boys' hostels (one for each year) and three girls' hostels (AC and Non-AC).</p>
<p><h4><span style="color: #b30000;"><b>GETTING TO NSIT Delhi</b></span></h4></p>
<p>
<h4><span style="color: #b30000;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></h4></p>
<p>NSIT is well connected by <strong><em><u>Road, Rail and Air</u></em></strong>. &nbsp;It is located in the capital of India.</p>
<p><br /> <strong>Flying in:</strong>&nbsp;The nearest airport is Indra Gandhi International (IGI) and Delhi domestic airport which is 35 minutes&rsquo; drive by road. There are daily domestic flights from all over India. There are direct international flights from all over world.</p>
<p>From airport to NSIT, we reach by road or Metro.</p>
<p>Regarding metro ROUTEs(Nearest Metro Station is Dwarka Mor) click <a href="http://delhimetrorail.com/metro-fares.aspx">here</a>.</p>
<p><strong>By road: </strong>Delhi is well connected with the major cities. Buses run between Delhi and other cities frequently. Direct buses are available from maximum cities. There are three major&nbsp;<a href="http://delhigovt.nic.in/newdelhi/dept/transport/tr6a.asp">Inter State Bus Terminus</a> (ISBT): 1) Maharana Pratap ISBT at Kashmere Gate, Delhi, 2) Swami Vivekanand ISBT at Anand Vihar, Delhi and 3) Vir Hakikat Rai ISBT at Sarai Kale Khan, Delhi.</p>
<p>From ISBT to NSIT, we reach by road or by Metro.</p>
<p><br /> <strong>By train:&nbsp;</strong>There are 6 major railway stations in Delhi, List are given below. For more information click&nbsp; <a href="http://www.indianrail.gov.in">here</a></p>
<table style="height: 100px; width: 398px;" border="0">
<thead>
<tr>
<td style="width: 29px;">
<p>S.N.</p>
</td>
<td style="width: 41px;">
<p>Code</p>
</td>
<td style="width: 116px;">
<p>Station Name</p>
</td>
<td style="width: 24px;">
<p>S.N.</p>
</td>
<td style="width: 36px;">
<p>Code</p>
</td>
<td style="width: 114px;">
<p>Station Name</p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 29px;">1</td>
<td style="width: 41px;">ANVT</td>
<td style="width: 116px;">Anand Vihar Terminus</td>
<td style="width: 24px;">
<p>4</p>
</td>
<td style="width: 36px;">
<p>DEE</p>
</td>
<td style="width: 114px;">
<p>Delhi Sarai Rohilla</p>
</td>
</tr>
<tr>
<td style="width: 29px;">2</td>
<td style="width: 41px;">DLI</td>
<td style="width: 116px;">Old Delhi</td>
<td style="width: 24px;">
<p>5</p>
</td>
<td style="width: 36px;">
<p>NZM</p>
</td>
<td style="width: 114px;">
<p>HazratNizamuddin</p>
</td>
</tr>
<tr>
<td style="width: 29px;">
<p>3</p>
</td>
<td style="width: 41px;">
<p>DEC</p>
</td>
<td style="width: 116px;">
<p>Delhi Cantonment</p>
</td>
<td style="width: 24px;">6</td>
<td style="width: 36px;">NDLS</td>
<td style="width: 114px;">New Delhi</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>From railway station to NSIT, we can reach by road or by Metro. For more information of DTC routes click here: <a href="https://www.dtcbusroutes.in/bus/route/search">DTC ROUTES</a>.</p>
    </div>
   
</div>




        </div>
    </div>
</section>

    <!-- FOOTER -->

<div class="clearfix"></div>
<footer class="nsit-footer">
  <div class="copyright">
    <div class="container">
     <p style="display:inline-block;">Copyright &copy; 2017 Netaji Subhas Institute of Technology. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>

    <script type="text/javascript" src="./static/generated/template_js1a71.js?b1378c95"></script>


<script type="text/javascript">
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(0);
})
</script>
</html>